In [ ]:
a = 7

In [ ]:
a + 2