In [2]:
import polars as pl
import numpy as np

In [8]:
df = pl.DataFrame(
    {
        "a": range(8),
        "b": np.random.rand(8),
        "d": [1, 2.0, float("nan"), float("nan"), 0, -5, -42, None],
    }
)

df2 = pl.DataFrame(
    {
        "a": range(8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)

In [9]:
df

shape: (8, 3)
┌─────┬──────────┬───────┐
│ a   ┆ b        ┆ d     │
│ --- ┆ ---      ┆ ---   │
│ i64 ┆ f64      ┆ f64   │
╞═════╪══════════╪═══════╡
│ 0   ┆ 0.925873 ┆ 1.0   │
│ 1   ┆ 0.372329 ┆ 2.0   │
│ 2   ┆ 0.363009 ┆ NaN   │
│ 3   ┆ 0.711676 ┆ NaN   │
│ 4   ┆ 0.363245 ┆ 0.0   │
│ 5   ┆ 0.98026  ┆ -5.0  │
│ 6   ┆ 0.244917 ┆ -42.0 │
│ 7   ┆ 0.393285 ┆ null  │
└─────┴──────────┴───────┘

In [10]:
df2

shape: (8, 2)
┌─────┬─────┐
│ a   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 0   ┆ A   │
│ 1   ┆ A   │
│ 2   ┆ A   │
│ 3   ┆ B   │
│ 4   ┆ B   │
│ 5   ┆ C   │
│ 6   ┆ X   │
│ 7   ┆ X   │
└─────┴─────┘

In [7]:
joined = df.join(df2, left_on="a", right_on="x")
print(joined)

shape: (8, 4)
┌─────┬──────────┬───────┬─────┐
│ a   ┆ b        ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ str │
╞═════╪══════════╪═══════╪═════╡
│ 0   ┆ 0.337521 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.462368 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.792111 ┆ NaN   ┆ A   │
│ 3   ┆ 0.015541 ┆ NaN   ┆ B   │
│ 4   ┆ 0.580938 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.434778 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.148261 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.820758 ┆ null  ┆ X   │
└─────┴──────────┴───────┴─────┘

In [12]:
df.join(df2, how="left", on="a")

shape: (8, 4)
┌─────┬──────────┬───────┬─────┐
│ a   ┆ b        ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ str │
╞═════╪══════════╪═══════╪═════╡
│ 0   ┆ 0.925873 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.372329 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.363009 ┆ NaN   ┆ A   │
│ 3   ┆ 0.711676 ┆ NaN   ┆ B   │
│ 4   ┆ 0.363245 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.98026  ┆ -5.0  ┆ C   │
│ 6   ┆ 0.244917 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.393285 ┆ null  ┆ X   │
└─────┴──────────┴───────┴─────┘